/* color */
/* background-color */
/* font */
/* font-size */
/* border-radius */
/* box-shadow */
/* responsive  */
/*  */
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 97vw;
  height: 8vh;
  margin: auto;
  margin-top: 3vh;
}

#header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  font-size: 20px;
  color: #41546F;
  font-weight: 900;
  text-indent: 20px;
  cursor: pointer;
}

#header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin-right: 0.5%;
}

.header__menu__item {
  margin: 0 1.5%;
  color: #7087A6;
  font-weight: 700;
  cursor: pointer;
}

.header__menu__item__active {
  color: #41546F;
  font-weight: 900;
}

#header__menu__register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #41546F;
  border-radius: 0.2rem;
  width: 7rem;
  height: 2.75rem;
  font-weight: 900;
  color: #ffff;
}

/*  */
#header__menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#header__menu__user__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  /*  border: 2px solid #5c5c5c; */
}

#header__menu__user__avatar__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#header__menu__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
}

#header__menu__toggle__icon {
  width: 100%;
  height: 100%;
}

@media (max-width: 757px) {
  .mobile-only {
    display: block;
  }
  #header {
    background-color: #F9FAFF;
    border: none;
    margin-top: 0.5vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #header__logo {
    display: none;
  }
  #header__menu {
    display: none;
  }
}
