@import "../_settings.scss";



#delete {
    display: flex;
    margin: auto;
    margin-top: 10vh;
    width: 98vw;
    max-width: 600px;
    background-color: #F8FAFD;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#delete__form {
    margin: 0 auto;
    width: 80%;
    padding: 5% 0 10% 0;
/*     background-color: #3A589B;    */
}

#delete__form__title {
    font-weight: 900;
    margin-bottom: 1vh;
    font-size: 30px;
    color: #{$color-primary};
}

#delete__form__submit{
    margin-top: 50px;
}