@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* color */
/* background-color */
/* font */
/* font-size */
/* font-weight */
/* border-radius */
/* box-shadow */
/* responsive  */
/*  */
#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 10vh;
  width: 98vw;
  max-width: 600px;
  background-color: #F8FAFD;
  border-radius: 1rem;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#login__form {
  margin: 0 auto;
  width: 80%;
  /*     background-color: #3A589B;    */
}

/* TITLE */
#login__form__title {
  margin-top: 40px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #334ACF;
}

/* INPUT */
#login__form__input {
  margin: auto;
  width: 100%;
}

#login__form__input__id {
  margin-top: 20px;
  width: 100%;
  height: 65%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#login__form__input__pw {
  margin-top: 2%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#login__form__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

#login__form__option__remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login__form__option__remember__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: #334ACF;
  cursor: pointer;
}

#login__form__option__remember__checkbox__icon {
  color: white;
  font-size: 7px;
}

#login__form__option__forget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  color: darkgray;
  cursor: pointer;
}

#login__form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #334ACF;
  font-weight: 900;
  color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

#login__form__forget {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

#login__form__yet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  color: darkgray;
}

#login__form__yet__register {
  font-weight: 700;
  color: #334ACF;
}

@media (max-width: 757px) {
  #login {
    font-size: 0.75rem;
  }
  #login__form__title {
    margin-top: 20px;
  }
}

@media (min-width: 758px) and (max-width: 1024px) {
  #login {
    max-width: 75vw;
  }
}
