<div id="sidebar">
    <div id="sidebar__side">
        <div id="sidebar__side__backspace">
            <i class="sidebar__side__icon fas fa-arrow-left"></i>
        </div>

        <div class="sidebar__side__item" data-side="home" onclick="window.location.href='/'">
            <i class="sidebar__side__item__icon fas fa-home" data-side="home"></i>
        </div>


        <div class="sidebar__side__item sidebar__side__item__active" data-side="user">
            <i class="sidebar__side__item__icon fas fa-user sidebar__side__item__active" data-side="user"></i>
        </div>
        <div class="sidebar__side__item" data-side="setting">
            <i class="sidebar__side__item__icon fas fa-cog" data-side="setting"></i>
        </div>
        <div class="sidebar__side__item" data-side="notification">
            <i class="sidebar__side__item__icon far fa-bell" data-side="notification"></i>
        </div>

        <div class="sidebar__side__item" data-side="contact">
            <i class="sidebar__side__item__icon fas fa-envelope" data-side="contact"></i>
        </div>
    </div>

    <div id="sidebar__body">
        <!--  -->
        <div class="sidebar__body__item" data-side-body='user' style="display: flex;">
            <div id="sidebar__body__item__contact">
                <div id="sidebar__body__item__contact__contact" onclick="window.location.href='/contact'">
                    user
                </div>
            </div>
            <div id="sidebar__body__item__contact">
                <div id="sidebar__body__item__contact__contact" onclick="window.location.href='/contact'">
                    user
                </div>
            </div>
        </div>
        <!--  -->
        <div class="sidebar__body__item" data-side-body='setting'>
            <div id="sidebar__body__item__contact">
                <div id="sidebar__body__item__contact__contact" onclick="window.location.href='/contact'">
                    setting
                </div>
            </div>
            <div id="sidebar__body__item__contact">
                <div id="sidebar__body__item__contact__contact" onclick="window.location.href='/contact'">
                    setting
                </div>
            </div>
        </div>
        <!--  -->
        <div class="sidebar__body__item" data-side-body='notification'>
            <div id="sidebar__body__item__contact">
                <div id="sidebar__body__item__contact__contact" onclick="window.location.href='/contact'">
                    notification
                </div>
            </div>
            <div id="sidebar__body__item__contact">
                <div id="sidebar__body__item__contact__contact" onclick="window.location.href='/contact'">
                    notification
                </div>
            </div>
        </div>
        <!--  -->
        <div class="sidebar__body__item" data-side-body='contact'>
            <div id="sidebar__body__item__contact">
                <div id="sidebar__body__item__contact__contact" onclick="window.location.href='/contact'">
                    Contact
                </div>
            </div>
            <div id="sidebar__body__item__contact">
                <div id="sidebar__body__item__contact__contact" onclick="window.location.href='/contact'">
                    Contact
                </div>
            </div>
        </div>
    </div>

</div>