{% extends 'common/base.html' %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet" href="/static/css/all.css">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/user/password.css">

<div id="password">
    <div id="password__form">
        <div id="password__form__title">비밀번호 변경하기</div>
        <div id="password__form__input">
            <form>
                {% csrf_token %}
                <div style="margin-top: 20px;">
                    <label style=" font-weight: 600;">현재 비밀번호</label>
                </div>
                <div class="input-group">
                    <input id="password__form__input__origin" type="password" class="form-control"
                        placeholder="현재 비밀번호를 입력하세요." autocomplete="off" />
                </div>

                <!-- 비밀번호 -->
                <div style="margin-top: 30px;">
                    <label style=" font-weight: 600;">
                        새 비밀번호</label>
                    <input type="password" class="form-control" id="password__form__input__new"
                        placeholder="새 비밀번호를 입력해 주세요." autocomplete="off" required="required" />
                    <div class="valid-feedback">
                        <p style=" margin-top: 0.5vh;">좋습니다!</p>
                    </div>
                    <div class="invalid-feedback">
                        <p style=" margin-top: 0.5vh;">
                            대소문자 영문, 숫자로 조합된 7~20자리를 입력해 주세요.
                        </p>
                    </div>
                </div>
                <!-- 비밀번호 확인-->
                <div style="margin-top: 10px;">
                    <label style=" font-weight: 600;">
                        새 비밀번호 확인</label>
                    <input type="password" class="form-control" id="password__form__input__new__re"
                        placeholder="새 비밀번호를 다시 입력해 주세요." autocomplete="off" required="required" />
                    <div class="valid-feedback">
                        <p style=" margin-top: 0.5vh;">좋습니다!</p>
                    </div>
                    <div class="invalid-feedback">
                        <p style=" margin-top: 0.5vh;">비밀번호를 다시 확인해 주세요.</p>
                    </div>
                </div>


            </form>
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled" id="password__form__submit">
            변경하기
        </button>





    </div>

</div>








<script>

    function isValidPw(str) {
        let reg = /^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{7,20}$/ // 영문 숫자 특수문자 중 2개 조합 7~20자리
        return reg.test(str)
    }

    function setValidFeedback(element) {
        element.addClass("is-valid")
        element.removeClass("is-invalid")
    }

    function setInvalidFeedback(element) {
        element.addClass("is-invalid")
        element.removeClass("is-valid")
    }


    $(document).ready(function () {

        let password__form__input__origin = $("#password__form__input__origin")
        let password__form__input__new = $("#password__form__input__new")
        let password__form__input__new__re = $("#password__form__input__new__re")

        let submitBtn = $("#password__form__submit")

        password__form__input__origin.val("")
        password__form__input__origin.focus()

        password__form__input__new.on("keyup", function () {
            if (isValidPw(password__form__input__new.val())) {
                setValidFeedback(password__form__input__new)
            } else {
                setInvalidFeedback(password__form__input__new)
            }
            if (password__form__input__new__re.val()) {
                if (password__form__input__new__re.val() == password__form__input__new.val()) {
                    setValidFeedback(password__form__input__new__re)
                } else {
                    setInValidFeedback(password__form__input__new__re)
                }
            }
        })
        password__form__input__new__re.on("keyup", function () {
            if (password__form__input__new__re.val() == password__form__input__new.val()) {
                setValidFeedback(password__form__input__new__re)
            } else {
                setInvalidFeedback(password__form__input__new__re)
            }
        })





        $("input").on("keyup", function () {

            let isPwChecked = password__form__input__new.hasClass("is-valid")
            let isPwReChecked = password__form__input__new__re.hasClass("is-valid")

            if (isPwChecked && isPwReChecked) {
                submitBtn.prop("disabled", false)
            } else {
                submitBtn.prop("disabled", true)
            }
        })



        submitBtn.on("click", function () {
            $.ajax({
                type: "post",
                dataType: "json",
                data: {
                    pw_origin: password__form__input__origin.val(),
                    pw_new: password__form__input__new.val(),
                    pw_new_re: password__form__input__new__re.val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                url: "{% url 'user:password-change' %}",
                success: function (response) {
                    if (response.msg == "success") {
                        Swal.fire({
                            icon: "success",
                            title: "비밀번호가 성공적으로 변경되었습니다.",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function () {
                            location.href = "/"
                        })
                    }
                    else if (response.msg == "pw-error") {
                        Swal.fire("이런...", "비밀번호를 다시 확인해주세요.", "error")
                        console.log(response)
                    }
                    else {
                        Swal.fire("이런...", "예상치 못한 오류가 발생했습니다", "error")
                        console.log(response)
                    }
                },
                error: function () {
                    Swal.fire("이런...", "예상치 못한 오류가 발생했습니다!", "error")
                }
            })
        })

        document.querySelector("body").addEventListener("keyup", function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                submitBtn.click();
            }
        });


    })




</script>


{% endblock %}